form {
  margin: 20px 0;
}

label{
    margin-right: 1em;
}

input[type=text], input[type=submit] {
  width: 300px;
  padding: 8px;
  font-size  : 1.45em;
  font-weight: bold;

  border: 1px solid #808080;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.buttons {
  input[type=submit] {
    width: auto;
    font-size  : 1em;
    text-transform: uppercase;
    @include box-shadow(1px, 1px, 2px, #AAA);
  }
}

legend {
  font-weight: bold;
}

fieldset{
  margin-top: 1em;
  padding-top: 0.5em;
}
